{%extends 'base.html'%}

    <title>全文检索--结果页</title>
{%block content%}

<div class="main_wrap clearfix">


			<ul class="goods_type_list clearfix">
                <h1>搜索&nbsp;<b>{{query}}</b>&nbsp;{{item.gtype.id}}结果如下：</h1>
				{%for item in page%}
				<li>
					<a href="/detail_{{item.object.id}}/"><img src="/static/{{item.object.gpic}}"></a>
					<h4><a href="/detail_{{item.object.id}}/">{{item.object.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{item.object.gprice}}</span>
						<span class="unit">{{item.object.gprice}}/{{item.object.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {%empty%}
                    <li>啥也没找到</li>
				{%endfor%}

			</ul>

			<div class="pagenation">
                <a href="?q={{query}}&amp;page=1">首页</a>
				{% if page.has_previous %}

					<a href="?q={{query}}&amp;page={{page.number|add:-1}}"><上一页</a>
                    {{page.paginator.num_pages}}
				{%endif%}

                {% if page.paginator.num_pages <= 5 %}

                        {% for index in page.paginator.page_range%}
                        {%if index == page.number%}
                            <a href="#" class="active">{{index}}</a>
                        {%else%}
                            <a href="?q={{query}}&amp;page={{index}}">{{index}}</a>
                        {%endif%}
                        {%endfor%}

                {%elif page.number == 1%}
                    <a href="?q={{query}}&amp;page=1" class="active">1</a>
                    <a href="?q={{query}}&amp;page=2">2</a>
                    <a href="?q={{query}}&amp;page=3">3</a>
                    <a href="?q={{query}}&amp;page=4">4</a>
                    <a href="?q={{query}}&amp;page=5">5</a>
                {%elif page.number == 2%}
                    <a href="?q={{query}}&amp;page=1">1</a>
                    <a href="?q={{query}}&amp;page=2" class="active">2</a>
                    <a href="?q={{query}}&amp;page=3">3</a>
                    <a href="?q={{query}}&amp;page=4">4</a>
                    <a href="?q={{query}}&amp;page=5">5</a>
                {% elif page.number == page.paginator.num_pages|add:-1%}
                    <a href="?q={{query}}&amp;page={{page.number|add:-3}}">{{ page.number|add:-3 }}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-2}}_{{sid}}/">{{page.number|add:-2}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-1}}_{{sid}}/">{{page.number|add:-1}}</a>
                    <a href="#"  class="active">{{page.number}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:1}}" >{{page.number|add:1}}</a>

                {%elif page.number == page.paginator.num_pages%}
                    <a href="?q={{query}}&amp;page={{page.number|add:-4}}">{{page.number|add:-4}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-3}}">{{page.number|add:-3}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-2}}">{{page.number|add:-2}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-1}}">{{page.number|add:-1}}</a>
                    <a href="?q={{query}}&amp;page={{page.number}}" class="active">{{page.number}}</a>
                {%else%}
                    <a href="?q={{query}}&amp;page={{page.number|add:-2}}">{{page.number|add:-2}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:-1}}">{{page.number|add:-1}}</a>
                    <a href="?q={{query}}&amp;page={{page.number}}" class="active">{{page.number}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:1}}">{{page.number|add:1}}</a>
                    <a href="?q={{query}}&amp;page={{page.number|add:2}}" >{{page.number|add:2}}</a>

                {%endif%}


                {% if page.has_next %}
					<a href="?q={{query}}&amp;page={{page.number|add:+1}}">下一页></a>

                {%endif%}
                    <a href="?q={{query}}&amp;page={{page.paginator.num_pages}}">末页</a>
			</div>
		</div>

{%endblock content%}